

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */




body {
	background-image: url(img/bgnoise.png);
	background-position: initial initial;
	background-repeat: initial initial;
}







