<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{ page.title }}</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="navbar navbar-fixed-top main-navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="http://stephenholiday.com/Unofficial-Waterloo-USA-Intern-Guide/">Unofficial Waterloo USA Intern Guide</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#Introduction">Introduction</a></li>
              <li class="dropdown" id="menu-jobs">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#menu-jobs">
                    Jobs
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#Jobs">Getting The Job</a></li>
                    <li class="divider"></li>
                    <li><a href="#Jobs-Pay">Pay</a></li>
                    <li><a href="#Jobs-Relocation">Relocation</a></li>
                    <li><a href="#Jobs-Perks">Perks</a></li>
                  </ul>
                </li>
                <li class="dropdown" id="menu1">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                      Paperwork
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="#Paperwork-J1Visa">J-1 Visa</a></li>
                      <li><a href="#Paperwork-BeforeYouGo">Before You Go</a></li>
                      <li><a href="#Paperwork-SSN">SSN</a></li>
                    </ul>
                  </li>
                <li class="dropdown" id="menu-living">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu-living">
                      Living
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="#Living-Housing">Housing</a></li>
                      <li><a href="#Living-Roommates">Roommates</a></li>
                      <li><a href="#Living-Tips">Tips</a></li>
                      <li class="divider"></li>
                      <li><a href="#Living-CellService">Cell Service</a></li>
                      <li><a href="#Living-CellService-Smartphones">Smartphones</a></li>
                      <li><a href="#Living-CellService-BlackBerry">BlackBerry</a></li>
                    </ul>
                  </li>
                  <li class="dropdown" id="menu-money">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#menu-money">
                        Money
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="#Money-Banks">Banks</a></li>
                        <li><a href="#Money-Credit">Credit & Credit Cards</a></li>
                        <li class="divider"></li>
                        <li><a href="#Money-Convert">Bringing Money Back</a></li>
                        <li><a href="#Money-Taxes">Taxes</a></li>
                      </ul>
                    </li>
                  <li class="dropdown" id="menu-area">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu-area">
                      Area Specific
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="#Area-California">California</a></li>
                      <li><a href="#Area-SF">San Francisco</a></li>
                      <li><a href="#Area-BayArea">Bay Area</a></li>
                      <li><a href="#Area-MTV">Mountain View</a></li>
                      <li class="divider"></li>
                      <li><a href="#Area-NYC">New York City, NY</a></li>
                      <li><a href="#Area-Seattle-WA">Seattle, WA</a></li>
                      <li><a href="#Area-Coopersburg-PA">Coopersburg PA</a></li>
                      <li><a href="#Area-Austin-TX">Austin TX</a></li>
                      <li><a href="#Area-Chicago-IL">Chicago IL</a></li>
                    </ul>
                  </li>
                  <li class="dropdown" id="menu-ft">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu-ft">
                      Full-Time
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="https://stephenholiday.com/waterloo-fulltime-guide/">Fulltime Guide</a></li>
                    </ul>
                  </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="main-container">
      <a href="https://github.com/sholiday/Unofficial-Waterloo-USA-Intern-Guide">
        <img class="github-fork-link" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub">
      </a>
      <div class="container">
        {{ content }}
        <footer>
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/ca/"><img alt="Creative Commons Licence" src="https://i.creativecommons.org/l/by-nc-sa/2.5/ca/88x31.png" /></a>
        </footer>
      </div> <!-- /container -->
    </div><!-- /main-container -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

<script src="js/libs/bootstrap/transition.js"></script>
<script src="js/libs/bootstrap/collapse.js"></script>
<script src="js/libs/bootstrap/dropdown.js"></script>

<script src="js/script.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30447290-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
